[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
twine = "*"

[packages]
python-telegram-bot = "*"
sanic = "*"
emoji = "*"
requests = "*"

[requires]
python_version = "3.6"
